<%#
# Hidden Form Partial

This partial renders a hidden field.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of Administrate::Field::Hidden.
  A wrapper around the attribute pulled from the database.
%>

<div class="field-unit__field">
  <%= f.hidden_field field.attribute %>
</div>
